azure-servicebus>=7.11.4
azure-identity>=1.15.0
azure-ai-inference>=1.0.0b6
azure-appconfiguration>=1.7.1
azure-keyvault-secrets>=4.8.0
python-dotenv>=1.0.1
requests>=2.31.0
rule-engine>=4.2.0
cachetools>=5.3.0